.card-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card 
{
    width: 200px;
    margin: 10px;
    text-align: center;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img 
{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.card-title
{
    font-size: 18px;
}
.card-body 
{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
